$primary-color: #70b9f1;
$secondary-color: #fbbc05;
$font-stack: Arial;
$footer-header:  #71816d;
* {
    font-family: $font-stack;
}
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    text-align: justify;
    font-family: $font-stack;
    font-size: 13px;
}
body{
    background-color: #c9b79c;
    font-family: $font-stack;
    line-height: 1.6;
}
header {
    text-align: center;
    padding: 24px;
    color: #fff;
    background-color: $footer-header;
    background-size: 250px;
}
main {
    padding: 24px;
    margin-top: 24px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
footer {
    text-align: center;
    padding: 8px;
    margin-top: 24px;
    color: #fff;
    background-color: $footer-header;
}
.footer {
    display: flex;
    justify-content: center;
}
h2, h1 {
    color: #333;
    margin-bottom: 20px;
    margin-top: 0;
    background-color: #f1e0c5;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
nav {
    margin: 20px 0;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #f4e8c1;
    }
    li {
        float: left;
        a {
            display: block;
            color: black;
            text-align: center;
            padding: 8px 16px;
            text-decoration: none;
            &:hover:not(.active) {
                background-color: #feefe5;
            }
        }
    }
}
nav a:hover{
    background-color: #ecc8af;
    color: black;
}
li a:hover {
    background-color: #feefe5;
    text-decoration: underline;
}
.japan {
    color: #e4572e;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 24px auto;
    background-color: $secondary-color;
}
.active {
    background-color: #feefe5;
}
a {
    display: flex;
    margin: 5px;
    padding: 15px;
    text-decoration: none;
    color: black;
}
#kotak {
    background-color: #ffffff; /* Latar belakang kotak */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Efek bayangan lembut */
    padding: 25px;
    width: 90%;
    max-width: 600px; /* Lebar maksimum untuk kotak */
}

table {
    width: 100%;
    border-collapse: collapse; /* Menggabungkan border sel */
    margin-top: 20px;
    border-radius: 8px; /* Border radius untuk tabel */
    overflow: hidden; /* untuk border radius di tabel */
}

th, td {
    border: 1px solid #dddddd; /* Border antar sel */
    padding: 12px 15px; /* Padding dalam sel */
    text-align: left;
    font-size: 0.95em;
}

th {
    background-color: #70b9f1; /* Warna latar belakang header */
    color: white; /* Warna teks header */
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Warna latar belakang untuk baris genap */
}

tr:hover {
    background-color: #ddd; /* Warna latar belakang saat di-hover */
}
.ro1{
    color: red;
}
.tombol2:hover{
    transform: scale(0.8);
}
.ro2{
    color: green;
}
.ro3{
    color: blue;
}
.tombol2 {
    display: flexbox;
    justify-content: center;
    width: 20%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #a0ced9;
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}
.tombol {
    display: flexbox;
    justify-content: center;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background: #a0ced9;
    top: 100%;
    left: 100%;
    transition: all 0.7s;

}
.tombol:hover {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}
.tombol:hover, .tombol2:hover {
    cursor: pointer;
}
h1{
    text-align: center;
}