<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <!-- ntuk icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

    <!-- Favicon -->
    <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico">

    <!-- JavaScript -->
    <script src="{{ site.baseurl }}/assets/js/scripts.js"></script>

    <!-- Plugins -->
    {% feed_meta %}
    {% seo %}

</head>
<audio id="bgMusic" src="/assets/daten.mp3" autoplay loop></audio>
<body>
    <div class="container">
        <header>
            <img src="{{ site.baseurl }}/assets/images/profiles_aseli.jpeg" alt="Profile Picture" class="profile-picture">
            <h1 class="nama"> Hamizan Putra Zulia <br> <span class="japan">(ハミザン プトラ ズリア)</span> </h1>
            <p> {{ site.description }} </p>
        </header>
        <aside>
            <div class="social-links">
                <a href="https://github.com/hamizan18" title="GitHub"><i class="fab fa-github"></i></a>
                <a href="https://www.tiktok.com/@flawzaan?_t=ZS-8vcQmkuvSdw&_r=1" title="TikTok"><i class="fab fa-tiktok"></i></a>
                <a href="https://instagram.com/hamizann18" title="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://wa.me/+6282272967078" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
            </div> 
        </aside>
        <nav>
            {% include navigation.html %} 
        </nav>

        <main>
            {{ content }}
        </main>

        <br>
        <footer>
            <center><p class="footer">&copy; Hamizan desu {{ site.time | date: '%Y'}}. {{ site.title }} All rights reserved.</p></center>
        </footer>
    </div>

</body>
</html>