<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <!-- css -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

    <!-- Favicon -->
    <link rel="icon" href="{{ site.baseurl }}//assets/images/favicon.icio">

    <!-- JavaScript -->
    <script src="{{ site.baseurl }}/assets/js/scripts.js"></script>

    <!-- Plugins -->
    {% feed_meta %}
    {% seo %}

</head>
<audio id="bgMusic" src="/assets/daten.mp3" autoplay loop></audio>
<body>
    <div class="container">
        <header>
            <img src="{{ site.baseurl }}/assets/images/profile.jpeg" alt="Profile Picture" class="profile-picture">
            <h1> {{ site.title }} </h1>
            <p> {{ site.description }} </p>
        </header>
        
        <nav>
            {% include navigation.html %} 
        </nav>

        <main>
            {{ content }}
        </main>

        <br>
        <footer>
            <center><p class="footer">&copy; Hamizan desu {{ site.time | date: '%Y'}}. {{ site.title }} All rights reserved.</p></center>
        </footer>
    </div>

</body>
</html>